@charset "UTF-8";
@import './core';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input,
.textarea {
  &-text,
  &.text-area {
    margin: 0;
    outline: medium none;
    font-weight: normal;
    font-size: $fontSize;
    color: $textColor;
    background: $inputBgColor;
    padding: $inputPadding;
    border: $inputBorder;
    @include transition($inputTransition);
    @include appearance(none);
    @include border-radius($borderRadius);

    &:enabled:hover {
      border-color: $inputHoverBorderColor;
    }

    &:enabled:focus {
      @include focused-input();
    }
  }

  &-error {
    color: $red;
    font-size: xx-small;
    text-align: left;
  }
}

/* Button */
.button {
  display: inline-block;
  position: relative;
  padding: 0;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  margin: 0;
  color: $buttonTextColor;
  background-color: $buttonBgColor;
  border: $buttonBorder;
  font-size: $fontSize;
  @include transition($buttonTransition);
  @include border-radius($borderRadius);

  &:enabled:hover {
    background-color: $buttonHoverBgColor;
    color: $buttonHoverTextColor;
    border-color: $buttonHoverBorderColor;
  }

  &:enabled:focus {
    @include focused();
  }

  &:enabled:active {
    background-color: $buttonActiveBgColor;
    color: $buttonActiveTextColor;
    border-color: $buttonActiveBorderColor;
  }

  &.button-raised {
    @include shadow($raisedButtonShadow);
  }

  &.button-rounded {
    @include border-radius($roundedButtonBorderRadius);
  }

  &.button-icon {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $primaryColor;
    text-transform: capitalize;
    font-size: 1rem;
    box-shadow: none;
    width: auto;
  }
}

/* menu icon */
.menu-item {
  width: 1.27rem;
  height: 0.84rem;

  /* Line */
  .path {
    border: 0.03rem solid $primaryColor;
    background: $primaryColor;
  }
}

.form {
  background-color: $white;
  box-shadow: 0rem 0.06rem 0.06rem -0.06rem $black;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    color: $primaryDarkColor;
  }
}

.line {
  width: 7.56rem;
  height: 0.03rem;
  border: 0.03rem solid $primaryColor;
  margin: 2rem;
}

.link {
  color: $primaryColor;
  cursor: pointer;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
  }
}

.dropdown {
  width: 100%;
  font-size: $fontSize;
  cursor: pointer;
  line-height: 1.1;
  background: $inputBgColor;
  border: $inputBorder;
  @include transition($inputTransition);
  @include border-radius($borderRadius);

  &:enabled:focus {
    @include focused-input();
  }

  &:not(disabled):hover {
    border-color: $inputHoverBorderColor;
  }

  &:not(disabled).p-focus {
    @include focused-input();
  }

  .dropdown-label {
    padding-right: 2em;

    &:focus {
      outline: 0 none;
      @include shadow(none);
    }
  }

  .dropdown-trigger {
    background-color: $inputBgColor;
    width: 2em;
    line-height: 2em;
    text-align: center;
    padding: 0;
    color: $inputDropdownIconColor;
    @include border-radius($borderRadius);
  }

  .dropdown-clear-icon {
    color: $inputDropdownIconColor;
  }
}

.dropdown--disabled {
  cursor: not-allowed;
}

select[multiple] {
  option {
    outline-color: var($inputFocusBorderColor);
  }
}

.select--disabled {
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

input.error {
  border-color: var($inputErrorBorder);
}

.spinner {
  &.negative {
    div {
      background: $white;
    }
  }

  div {
    background: $primaryDarkColor;
  }
}

.error-wrap {
  .error {
    color: $red;
  }
}

.password-panel {
  padding: $inputContentPanelPadding;
  background-color: $inputContentPanelBgColor;
  color: $inputContentPanelTextColor;
  border: $inputOverlayBorder;
  @include shadow($inputOverlayShadow);
}

.header-wrap {
  position: absolute;
  width: 1.27rem;
  height: 0.84rem;
  top: 1.78rem;
  left: 1.38rem;
  display: flex;
  flex-direction: row;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em;
  margin-top: -0.5em;
}

.chat__details {
  border-bottom: 0.06rem solid $black;
  width: inherit;

  &--first {
    border-top: 0.06rem solid $black;
  }
}

/* Add your customizations of theme here */
