
/* Rectangle */
.rectangle{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2FBCF7;
}

/* Social Media */
.social-media img {
    margin: 10px;
}

.play {
    position: absolute;
    top: 45%;
}