/* Rectangle */
.rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2FBCF7;
    height: 100%;
}

/* Social Media */
.social-media img {
    margin: 10px;
}

.play {
    position: absolute;
    top: 45%;
}

.mobile {
    position: relative;
    top: 0;
    left: 0;
    max-height: 85%;
}