.label {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  width: 100%;

  span {
    margin-left: -0.3rem;
  }
}

.modal {
  &__wrap {
    text-align: center;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        width: 100%;
      }

      textarea {
        width: 100%;
      }

      flex: 0 1 100%;
    }

    h2 {
      text-transform: none;
    }
  }
}
