/* Home Wrap */
.home-wrap {
    display: flex;
    justify-content: space-between;
}

/* Left */
.home-wrap .left {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    justify-content: center;
}

/* right */
.home-wrap .right {
    flex-basis: 50%;
}

.home-wrap .menu-item {
    top: 28.5px;
}

h1 {
    font-size: 20px;
    text-transform: uppercase;
}