/* Home Wrap */
.home-wrap {
  display: flex;
  justify-content: space-between;
}

/* Left */
.left {
  padding-left: 0;

  &__sidebar {
    padding-left: 4rem;
    padding-right: 1rem;
  }
}

/* right */
.home-wrap .right {
  flex-basis: 50%;
}

.home-wrap .menu-item {
  top: 28.5px;
}

h1 {
  font-size: 1.25rem;
  text-transform: uppercase;
}
