/* Left */
.home-left {
    position: absolute;
    width: 488px;
    height: 671.5px;
    left: 22px;
    top: 28.5px;

    /* menu icon */
    .menu-icon {
        position: absolute;
        width: 20.25px;
        height: 13 .5px;
        left: 22px;
        top: 28.5px;
        background: #000000;
    }

    /* smilies */
    .smilies {
        position: absolute;
        width: 133px;
        height: 78px;
        left: 283px;
        top: 70px;
    }

    .smilies .oval-2 .oval-2-copy {
        width: 78px;
        height: 78px;
    }

    /* Oval 2 */
    .oval-2 {
        left: 338px;
        background: #EFC638;
    }

    /* Oval 2 Copy */
    .oval-2-copy {
        left: 283px;
        background: #2FBCF7;
        background-blend-mode: multiply;
    }

    /* TARGET MVD */
    .target-mvd {
        position: absolute;
        width: 180px;
        height: 27px;
        left: 272px;
        top: 164px;
        font-family: OpenSans;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 3px;
        color: #000000;
    }

    /* form */
    .form {
        position: absolute;
        width: 210px;
        /* height: 337px; */
        top: 363px;

        /* Line */
        .line{
            position: absolute;
            width: 121px;
            height: 0.5px;
            left: 290px;
            top: 269px;
            border: 0.5px solid #000000;            
        }

        .sign-up {
            position: absolute;
            width: 102.26px;
            height: 15px;
            left: 299px;
            top: 285px;
            font-family: OpenSans;
            font-size: 11px;
            line-height: 13px;
            text-align: center;
            letter-spacing: 1.65px;
            color: #000000;
        }
    }

    /* Info */
    .info {
        position: absolute;
        height: 110px;
        top: 204px;

        /* Adress */
        .adress .find-peope-near-you {
            position: absolute;
            width: 292px;
            height: 32px;
            left: 204px;
            top: 204px;
        }

        /* Find people near you */
        .find-peope-near-you {
            font-family: OpenSans;
            font-size: 18px;
            line-height: 32px;
            /* identical to box height, or 178% */
            color: #212121;
        }

        /* Text */
        .text {
            position: absolute;
            width: 321px;
            height: 78px;
            left: 189px;
            top: 236px;
        }

        /* Create a target wher */
        .create-target-where {
            font-family: OpenSans;
            font-size: 14px;
            line-height: 26px;
            /* or 186% */
            color: #000000;
        }
    }
}

/* right */
.home-right {
    position: absolute;
    width: 488px;
    height: 671.5px;
    left: 22px;
    top: 28.5px;

    /* play */
    .play {
        position: absolute;
        width: 60px;
        height: 61px;
        left: 1007px;
        top: 315px;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
    }

    /* i6 */
    .i-6 {
        position: absolute;
        width: 550px;
        height: 794.44px;
        left: 761px;
        top: -78px;
        /*         background: url("../../assets/media/i6.png");
 */
    }

    /* appstore button */
    .appstore-button {
        position: absolute;
        width: 120px;
        height: 38px;
        left: 976px;
        top: 634px;
    }

    /* Social */
    .social {
        position: absolute;
        width: 77px;
        height: 26px;
        left: 1000px;
        top: 690px;
    }

    /* Rectangle */
    .rectangle {
        position: absolute;
        width: 683px;
        height: 768px;
        left: 684px;
        top: -1px;
        background: #2FBCF7;
    }
}