.modal {
  &__wrap {
    text-align: center;
  }

  &__title {
    margin: 0;
    display: inline;
  }

  &__subtitle {
    margin: 0;
  }

  &__close {
    display: flex;
    justify-content: flex-end;

    button {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      font-size: 1rem;
    }
  }
}
