.form {
  h2 {
    font-size: 1.125rem;
  }
}

.margin-facebook {
  margin-bottom: 5px;
}

.margin-forgot-password {
  margin-top: 15px;
  margin-bottom: 50px;
}

.margin-login {
  margin-top: 10px;
}
