.line-chat {
  width: 100%;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.group-chats {
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Oval right */
.avatar-chat {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 14px;
}

.chat__details {
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: space-between;
}

.chat-title {
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.95px;
}

.group-icon {
  display: flex;
  position: relative;
}

.icon-badge-button {
  position: absolute;
  right: -1em;
}

.icon {
  margin: 0.7em;
}

.group-detail {
  display: flex;
}

.icon-badge-button button {
  padding: 0rem;
  height: auto;
  background-color: #f0c738;
  border: 1px solid #f0c738;
  box-shadow: none;
  border-radius: 50%;
}

.icon-badge-button button:enabled:focus,
button:enabled:focus-visible,
.button:enabled:hover {
  box-shadow: none;
  background-color: #f0c738;
}
