/* sign up */
.signup {
    position: relative;
    width: 1366px;
    height: 768px;
    background: #FFFFFF;
}

/* Left */
.signup .left {
    position: absolute;
    width: 400px;
    height: 604.5px;
    left: 22px;
    top: 28.5px;
}

/* right */
.signup .right {
    position: absolute;
    width: 683px;
    height: 846px;
    left: 683px;
    top: -78px;
}
