/* Signup Wrap */
.signup-wrap {
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
}

/* Left */
.signup-wrap .left {
    position: absolute;
    width: 400px;
    height: 604.5px;
    left: 22px;
    top: 28.5px;
}

/* right */
.signup-wrap .right {
    position: absolute;
    width: 683px;
    height: 846px;
    left: 683px;
    top: -78px;
}

/* Rectangle */
.signup-wrap .right .rectangle{
    background: #2FBCF7;
}