@import "../../../assets/themes/mvd/variables";

.input {
  padding: .5rem;

  &-container {
    padding-bottom: 1rem;
  }

  &-label {
    padding-bottom: .5rem;
  }

  &-error {
    color: $red;
    padding-top: .5rem;
  }
}
