.password-panel {
    padding: 0.25em 0.5em;
    margin-top: 2px;
}

.password-panel .password-meter {
    height: 10px;
    background: transparent url("./images/password-meter.png") no-repeat left top;
    padding: 0;
    margin: 0;
}

.password-info {
    margin-top: 0.25em;
}

.password-panel-overlay {
    position: absolute;
}
