.list {
  display: flex;
  flex-direction: column;
}

.list-details {
  display: flex;
  align-items: center;
}

.list-details span {
  padding: 5px;
}

.home-empty-state-p {
  line-height: 32px;
  text-align: center;
}
