$inputBorder: #000000;
$inputPlaceholderTextColor: #a6a6a6;
$blue: #2fbcf7;
$fontSize: 10px;
$buttonFontSize: 11px;
$yellow: #efc638;
$fontSizeMedium: 14px;
$fontSizeH1: 20px;
$fontSizeH2: 18px;
$fontSizeLink: 11px;
