$inputBorder: 0.5px solid #000000;
$inputPlaceholderTextColor: #a6a6a6;
$blue: #2fbcf7;
$fontSize: 0.625rem;
$buttonFontSize: 0.6875rem;
$yellow: #efc638;
$iconBadgeColor: #f0c738;
$homeEmptyTextColor: #212121;
$fontSizeH3: 0.9375rem;
$fontSizeH4: 0.8125rem;
$fontSizeMedium: 0.875rem;
$fontSizeH1: 1.25rem;
$fontSizeH2: 1.125rem;
$fontSizeLink: 0.6875rem;
$hoverDropdown: #f4f4f4;

:export {
  hoverDropdown: $hoverDropdown;
  inputBorder: $inputBorder;
}
