$inputBorder: #000000;
$inputPlaceholderTextColor: #a6a6a6;
$blue: #2fbcf7;
$fontSize: 0.625rem;
$buttonFontSize: 0.6875rem;
$yellow: #efc638;
$fontSizeMedium: 0.875rem;
$fontSizeH1: 1.25rem;
$fontSizeH2: 1.125rem;
$fontSizeLink: 0.6875rem;
