@import '../themes/mvd/variables';
@import '../themes/mvd/mixins';
@import '_custom-variables';


html {
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
}

body {
    font-size: $fontSize;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    font-weight: 400;
    height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    font-family: $fontFamily;
    color: $textColor;
    background-color: $bodyBgColor;
    padding: 0;
    margin: 0;

    &.layout-scroll-block {
        overflow: hidden;
    }

    .input-text {
        width: 180px;
        height: 37px;
        margin-bottom: 2.25rem;
        padding: .5rem;
        border-radius: 0px;
        border: 0.5px solid $inputBorder;
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1.5px;

        @include placeholder {
            color: $inputPlaceholderTextColor;
        }
    }

    .form {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.65px;
        box-shadow:none;
        .input-label {
            font-size: 11px;
            line-height: 13px;
        }
    }

    .button {
        width: 180px;
        height: 37px;
        border: none;
        padding: 1rem;      
        border-radius: 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
    }

    .link {
        text-transform: uppercase;
        font-size: 11px;
        text-align: center;
        letter-spacing: 1.65px;
    }

}

#root {
    height: 100%;
}

.header {
    padding: 1rem;
    text-align: center;

    &__logo {
        width: 150px;
    }
}