@import '../themes/mvd/variables';
@import '../themes/mvd/mixins';
@import '_custom-variables';

body {
  font-size: $fontSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
  font-family: $fontFamily;
  color: $textColor;
  background-color: $bodyBgColor;

  &.layout-scroll-block {
    overflow: hidden;
  }

  .input-text,
  .text-area {
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0px;
    border: $inputBorder;
    text-align: center;
    text-transform: uppercase;
    font-size: $fontSize;
    letter-spacing: 1.5px;
  }

  .textarea {
    &.text-area {
      border: $inputBorder;
      height: 6rem;
    }
  }

  form {
    text-transform: uppercase;
    letter-spacing: 1.65px;
    box-shadow: none;
    width: 100%;
    margin-top: 1rem;

    .input-label {
      line-height: 13px;
    }

    .input-container {
      margin-bottom: 1rem;
    }

    &--text-left {
      text-align: left;
    }

    @include placeholder {
      color: $inputPlaceholderTextColor;
      font-size: $fontSize;
    }

    input {
      width: 100%;
    }
  }

  .button {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 37px;
    border: none;
    border-radius: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-size: $buttonFontSize;

    &__icon {
      font-size: 1rem;
      box-shadow: none;
      width: auto;
      background-color: transparent;
    }
  }

  .link {
    font-size: 11px;
    text-align: center;
    letter-spacing: 1.65px;
  }

  .dropdown {
    height: 37px;
    border-radius: 0;
    border: $inputBorder;
    font-size: $fontSize;
  }

  .select {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    vertical-align: -webkit-baseline-middle;
  }
}

#root {
  height: 100%;
}

.header {
  text-align: center;
  width: 30%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--back {
    background: $blue;
    color: $white;

    .menu-item .path {
      border: 0.03rem solid $white;
      background: $white;
    }
  }

  &__logo {
    width: 150px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  &__sidebar {
    width: 2rem;
    margin-right: 1rem;
  }
}

/* Rectangle */
.rectangle {
  background: $blue;
}

/* Two column Layout Wrap */
.two-column-layout-wrap {
  display: flex;
  justify-content: space-between;

  .left {
    flex-basis: 30%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: (all 0.1s ease);
  }

  .right {
    flex-basis: 70%;
  }
}

h1 {
  font-size: $fontSizeH1;
  text-transform: uppercase;
}

h2 {
  font-size: $fontSizeH2;
  text-transform: capitalize;
}

/* smilies */
.smilies {
  position: absolute;
  width: 133px;
  height: 78px;
  left: 265px;
  top: 70px;
}

/* Oval 2 */
.oval-left {
  width: 78px;
  height: 78px;
  background: $yellow;
  border-radius: 50%;
}

/* Oval 2 Copy */
.oval-right {
  width: 78px;
  height: 78px;
  background: $blue;
  border-radius: 50%;
  background-blend-mode: multiply;
}

/* TARGET MVD */
.target-mvd {
  position: absolute;
  width: 180px;
  height: 27px;
  left: 245px;
  top: 164px;
  font-family: OpenSans;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 3px;
  color: $black;
}

p {
  font-size: $fontSizeMedium;
}

.upper-case {
  text-transform: uppercase;
}

.capital-case {
  text-transform: capitalize;
}

.lower-case {
  text-transform: lowercase;
}

/* smilies */
.smiles {
  margin-top: 40px;
  background-blend-mode: multiply;
}

/* Oval left */
.smile-oval-left {
  background: $yellow;
  border-radius: 50%;
}

/* Oval right */
.smile-oval-right {
  background: $blue;
  border-radius: 50%;
}

.letter-spacing {
  letter-spacing: 3px;
}

.link-color {
  color: $blue;
}

.profile-links {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.8px;
}

.line-chat {
  border: 0.5px solid $black;
}

.group-chats {
  font-size: $fontSizeH4;
  color: $black;
}

.icon {
  width: 18px;
  height: 23px;

  &-badge {
    min-width: 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: $iconBadgeColor;
    color: $white;
  }
}

/* smilies small */
.smiles-small {
  width: 48px;
  height: 28px;
}

.footer {
  margin-top: 10%;
}

.chats {
  width: 100%;
}

.chat-title {
  font-size: $fontSizeH4;
}

.empty-sidebar {
  color: $homeEmptyTextColor;
}

.empty-sidebar-h2 {
  font-size: $fontSizeH2;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.empty-sidebar-h3 {
  font-size: $fontSizeH3;
}

.list-details span {
  font-size: $fontSizeH4;
}
